#desc {
    font-size: 1vw;
    color: #006125;
}

.about-container, .projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
}

.about-text, .projects-text {
    width: 100%;
    max-width: 700px;
    height: auto;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
}

.about-text h3, .projects-text h3 {
    color: #006125;
    font-weight: 900;
    font-size: 20vh;
}

.about-text h1 {
    font-size: 1.7vw;
}

.about-text p {
    font-size: 1.3vw;
    font-weight: lighter;
}

.learn-more-button {
    background-color: #006125;
    color: white;
    border: none;
    padding: 1vw 2vw;
    border-radius: 7px;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 1.5vw;
    transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #3c7a3c;
}

.counters {
    width: auto;
    height: auto;
    background-color: #00491c;
    background-image: radial-gradient(circle, rgba(36, 117, 36, 0.8), rgba(0, 73, 28, 0.8));
    padding: 1.5em 3em;
    color: #fff;
    text-align: center;
}

.counters > div {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 3em;
}

.counter {
    position: relative;
}

.counter h1 {
    font-size: 2vw;
    margin-bottom: 0.5em;
}

.counter h3 {
    font-size: 1vw;
}

.counter:not(:last-child)::before {
    content: '';
    background: #fff;
    position: absolute;
    width: 0.1vw;
    height: 3vh;
    top: 50%;
    transform: translateY(-50%);
    right: -1.5em;
}

.contact-banner {
    height: 25vh;
    background-color: #00491c;
    background-image: radial-gradient(circle, rgba(36, 117, 36, 0.8), rgba(0, 73, 28, 0.8));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    padding-right: 15%;
}

.contact-banner h1 {
    font-size: 2vw;
    margin: 0;
    padding-left: 15%;
}

.contact-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1vw 2vw;
    text-decoration: none;
    border-radius: 5%;
    font-size: 1vw;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #268a4c;
}

.projects-container {
    background-color: #ffffff;
}

.cleaning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
}

.projects-text h1 {
    font-size: 1.8vw;
}

.projects-text p {
    font-size: 1.3vw;
}

.picture {
    width: 30%;
}

.join-donate {
    width: auto;
    height: auto;
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.join-donate-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #006125;
    text-align: center;
}

.join-donate h1 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.join-button, .donate-button {
    background-color: #006125;
    color: white;
    border: none;
    padding: 1vw 2vw;
    border-radius: 7px;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover, .donate-button:hover {
    background-color: #3c7a3c;
}

.mountain {
    filter: brightness(0.5);
    width: 70%;
    height: auto;
    max-height: 50vh;
    border-radius: 20px;
}

.faq {
    padding: 7%;
    background-color: #ffffff;
    display: flex;
    width: auto;
    height: auto;
}

.faq-leaves {
    display: block;
    border-radius: 7px;
    width: 45%;
    max-height: 85vh;
}

.faq-text {
    margin-left: 5%;
    height: auto;
    width: 50%;
}

.faq-text h1 {
    font-size: 2.5vw;
}

.faq-text h2 {
    font-size: 1.2vw;
    padding-top: 10%;
}

.faq-text hr {
    background-color: #00000023;
    opacity: 0.3;
}

.faq-text h2 {
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
}

.faq-text h2::after {
    content: '⌄';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.faq-text h2.active {
    color: #006125;
}

.faq-text h2.active::after {
    transform: translateY(-50%) rotate(180deg);
    content: '⌃';
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 1vw;
}

.panel.open {
    max-height: 150px;
}

/* Viewport */

/* Tablet */

@media (max-width: 768px) {
    .learn-more-button {
        font-size: 1.5vw;
    }

    #desc {
        font-size: 1.5vw;
        color: #006125;
    }
    
    .about-text h1 {
        font-size: 2.2vw;
    }

    .about-text p {
        font-size: 1.9vw;
        font-weight: lighter;
    }

    .about-container {
        margin-top: 10%;
    }

    .mountain {
        max-height: 20vh;
    }    

    .projects-text h1 {
        font-size: 2.2vw;
    }
    
    .projects-text p {
        font-size: 1.9vw;
    }
    
    .contact-button {
        font-size: 1.5vw;
    }

    .join-donate h1 {
        font-size: 3.5vw;
    }
 
    .faq-text h1 {
        font-size: 2.5vw;
    }

    .faq-text h2 {
        font-size: 2vw;
        padding-top: 10%;
    }
    
    .panel {
        font-size: 1.5vw;
    }

    .panel.open {
        max-height: 150px;
    }
    
    .contact-banner {
        max-height: 10vh;
    }
    
    .contact-banner h1 {
        font-size: 2.5vw;
    }

    .join-button, .donate-button {
        font-size: 2vw;
    }
}

/* Laptop */

@media (min-width: 769px) and (max-width: 1440px) {
    #desc {
        font-size: 1.5vw;
        color: #006125;
    }
    
    .mountain {
        max-height: 30vh;
    }    
    
    .about-text p {
        font-size: 1.7vw;
        font-weight: lighter;
    }

    .projects-text p {
        font-size: 1.7vw;
        padding-top: 5%;
    }

    .contact-banner {
        max-height: 15vh;
    }

    .faq-text h1 {
        font-size: 2.5vw;
    }

    .faq-text h2 {
        font-size: 1.6vw;
        padding-top: 10%;
    }
    
    .panel {
        font-size: 1.6vw;
    }

    .contact-button {
        font-size: 1.5vw;
    }

    .join-button, .donate-button {
        font-size: 1.8vw;
    }

    .learn-more-button {
        font-size: 1.5vw;
    }
}

/* Mobile */

@media (max-width: 425px) {
    #desc {
        font-size: 2.5vw;
        text-align: center;
    }

    .about-container, .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text, .projects-text {
        margin-left: 0;
        margin-right: 0;
    }

    .about {
        width: 90%;
    }

    .projects-container {
        width: 90%;
    }
    
    .cleaning {
        width: 90%;
    }
}
