.picture {
    padding-top: 5%;
    padding-bottom: 5%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
}

.energy {
    width: 95%;
    max-height: 90vh;
}

.about-container {
    color: #ffffff;
    padding: 2% 5%;
}

.about-text-project {
    color: rgb(255, 255, 255);
    justify-content: center;
    background-color: #005320;
    background-image: radial-gradient(circle, rgba(36, 117, 36, 0.8), rgba(0, 73, 28, 0.8));
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-text-project h1 {
    font-size: 6vh;
    margin-bottom: 1%;
}

.about-text-project h3 {
    font-weight: 300;
    font-size: 2vw;
    margin-bottom: 2%;
}

.main-text {
    width: 100%;
    margin: 3% 3%;
}

.paragraph {
    padding: 3%;
    width: 100%;
    font-size: 2vh;
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
}

.contact-banner {
    height: 20vh;
    background-color: #00491c;
    background-image: radial-gradient(circle, rgba(36, 117, 36, 0.8), rgba(0, 73, 28, 0.8));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    padding-right: 15%;
}

.contact-banner h1 {
    font-size: 2vw;
    margin: 0;
    padding-left: 15%;
}

.contact-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1vw 2vw;
    text-decoration: none;
    border-radius: 5%;
    font-size: 1vw;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #268a4c;
}

.join-donate {
    height: auto;
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.mountain {
    width: 70%;
    height: auto;
    max-height: 500px;
    filter: brightness(0.5);
}

.join-donate-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #006125;
    text-align: center;
}

.join-donate h1 {
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.join-button, 
.donate-button {
    background-color: #006125;
    color: white;
    border: none;
    padding: 1vw 2vw;
    border-radius: 7px;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover, 
.donate-button:hover {
    background-color: #3c7a3c;
}

.mountain {
    width: 70%;
    height: auto;
    max-height: 50vh;
    border-radius: 20px;
}

/* Viewport */

/* Tablet */

@media (max-width: 768px) {
    #top {
        margin-top: 15%;
    }
    .about-text-project h1 {
        font-size: 3vh;
        margin-bottom: 1%;
    }
    .about-text-project p {
        font-weight: 300;
        font-size: 2.5vw;
        margin-bottom: 2%;
    }
}

/* Mobile */

@media (max-width: 425px) {
    #top {
        margin-top: 15%;
    }
    .about-text-project h1 {
        font-size: 2.5vh;
        margin-bottom: 1%;
    }
    .about-text-project p {
        font-weight: 300;
        font-size: 3.5vw;
        margin-bottom: 2%;
    }
}
